form {
    border: 1px solid #141414;
    border-radius: 2px;
    padding: 40px;
    box-shadow: 5px 5px 8px 0px rgb(88, 140, 153);
    max-width: 80%;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
